@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './app-bar.css';
@import './hero.css';
@import './trending-section.css';
@import './popular-section.css';
@import './dropdown.css';
@import './film-item.css';
@import './film-list.css';

:root{
    --c-background : #222831;
}
*{
    font-family: 'poppins';
}
body{
    background-color: var(--c-background);
    overflow-x: hidden;
}
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--c-background);
    z-index: 9999;
}
