#trending {
  position: relative;
  padding-top: 150px;
  background: linear-gradient(90deg, #004265, #00426500);
}
#trending::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 30%;
  z-index: 2;
  border-bottom: 10px dashed #004265;
}
#trending h1 {
  position: absolute;
  top: 140px;
  right: 260px;
  font-size: 90px;
  color: #d70a84;
  font-family: "Rubik Doodle Shadow";
}
#trending h1 span {
  margin-left: 50px;
  font-family: "Rubik Doodle Shadow";
  color: whitesmoke;
}
.container-trending {
  gap: 20px;
}
.img-tren-wrapper {
  width: 50%;
  height: 908px;
}
.img-card-wrapper {
  width: 50%;
}
.img-tren-wrapper img {
  width: 100%;
  position: relative;
  z-index: 99;
  -webkit-mask-image: url("../img/clipmask.png");
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position-y: 30px;
}
.img-card-wrapper img {
  width: 270px;
  height: 390px;
}
.img-card {
  width: 700px;
  gap: 10px;
}
.swiper {
  cursor: grabbing;
  width: 100%;
  height: 390px;
}

.swiper-slide {
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 15px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  #trending h1 {
    top: 19px;
    right: 171px;
    font-size: 66px;
  }
  .container-trending {
    flex-direction: column;
  }
  .img-tren-wrapper {
    width: 100%;
    height: 700px;
  }
  .img-card-wrapper {
    width: 100%;
    margin: 50px 0;
    position: relative;
    z-index: 9;
  }
}
@media screen and (max-width: 670px) {
#trending h1 {
    top: 19px;
    right: 91px;
    font-size: 50px;
  }
}